<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% assign image_size = 'thumb' %}
{% assign heading = 'Beschikbaar in de volgende kleuren' %}

{% if product.tags.size > 0 %}
{% for tag in product.tags %}
{% assign tagArray = tag | split: '-' %}
{% if tagArray[0] == "master" %}
    {% assign master = true %}
{% endif %}
{% endfor %}
{% endif %}

{% if master %}


<p class="availablecolors">{{ heading }}</p>
<ul class="related-products-masters"></ul>

<style type="text/css">
.related-products-masters { list-style-type:none }
{% case image_size %}
{% when 'thumb' %}
.related-products-masters * { font-size:12px; text-align:center; padding:0 }
.related-products-masters h4  { border:none; margin:10px 0 0 0; line-height:1.3 }
.related-products-masters div.image { height:70px }
.related-products-masters li { float:left; width:50px; height:70px; margin-right:5px; margin-left:0px; padding-left:0px }
  ul.related-products-masters { margin-left: 0 }
{% when 'small' %}
.related-products-masters * { font-size:12px; text-align:center; padding:0 }
.related-products-masters h4  { border:none; margin:10px 0 0 0; line-height:1.3 }
.related-products-masters div.image { height:100px }
.related-products-masters li { float:left; width:120px; height:160px; margin-right:20px }
{% when 'compact' %}
.related-products-masters * { font-size:13px; text-align:center; padding:0 }
.related-products-masters h4  { border:none; margin:5px 0 0 0; line-height:1.5 }
.related-products-masters div.image { height:160px }
.related-products-masters li { float:left; width:180px; height:220px; margin-right:25px }
{% when 'medium' %}
.related-products-masters * { font-size:14px; text-align:center; padding:0 }
.related-products-masters h4  { border:none; margin:10px 0 0 0; line-height:1.8 }
.related-products-masters div.image { height:240px }
.related-products-masters li { float:left; width:260px; height:300px; margin-right:25px }
{% endcase %}
.related-products-masters { overflow:hidden }
.related-products-masters span.money { font-size:0.8em }
.related-products-masters li:last-child { margin-right:0 }
</style>

<script>!window.jQuery && document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script>
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<script type="text/javascript" charset="utf-8">
//<![CDATA[
  var recommendations = [];
  {% for tag in product.tags %}
        {% assign tagArray = tag | split: '-' %}
        {% if tagArray[0] == "master" %}
        recommendations.push('{{ tag | replace_first: 'master-', '' | handle }}');
        {% endif %}
 {% endfor %}
  if (recommendations.length) {
    var list = jQuery('ul.related-products-masters');
    for (var i=0; i<recommendations.length; i++) {
      jQuery.getJSON(recommendations[i] + '.js', function(product) {
        list.append('<li><div class="image"><a href="' + product.url +'"><img src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ image_size }}$1') + '"  + alt="{{ image.alt | escape }}" /></a></div></li>');
      });
    }
  }
//]]>
</script>

{% endif %}