<div class="early-footer">
<div class="page-width">
  <div class="grid">
    <hr>
 <h3>Hulp nodig? maandag t/m vrijdag tussen 9:00 - 17:30 uur</h3>
  </div>
   
<div class="grid">
     
<div class="grid__item medium-up--one-third small--hide">
  <a href="#"><img alt="Live chat" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dwaf884a1d/TND/v2/functionality-chat-live.svg" title="Chat"> </a>
<div><a href="#"><span>Via <u>Live chat</u></span><br>
<label>Ma. - vr. 09:00 - 17:30 uur</label> </a></div>
</div>
<div class="grid__item medium-up--one-third"><a href="tel:+310205558122"><img alt="Bel direct" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw9b4ef3d0/TND/v2/functionality-phone.svg" title="Bel"> </a>
<div><a href="tel:+310205558122"><span>Bel <u>+31(0)20 5558122</u></span><br>
<label>Direct contact</label> </a></div>
</div>
<div class="grid__item medium-up--one-third"><a href="mailto:supportNL@tumblendry.com"><img alt="E-mail" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dwdbce987a/TND/v2/functionality-email.svg" title="Email"> </a>
<div><a href="mailto:supportNL@tumblendry.com"><span>E-mail <u>supportNL@tumblendry.com</u></span><br>
<label>Antwoord binnen 24 uur</label> </a></div>
</div>
</div>
    
  <div class="clearfix"></div>
    <div class="grid small--hide" style="border-top:1px solid #999">
      
      
      <div class="grid__item medium-up--one-third">
        
<h4>Gemakkelijk en veilig betalen</h4>
<img alt="iDEAL" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw79ae4b59/TND/v2/payment-ideal.svg" title="iDeal"> 
<img alt="visa" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw030a5f4f/TND/v2/payment-visa.svg" title="Visa"> 
<img alt="mastercard" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw6603d066/TND/v2/payment-mastercard.svg" title="Mastercard"> 
<img alt="meastro" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dwa2735314/TND/v2/payment-maestro.svg" title="Meastro"> 
<img alt="paypal" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw77374797/TND/v2/payment-paypal.svg" title="Paypal"> 
<img alt="klarna" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dw7d4472d7/TND/v2/payment-klarna-logo.svg" title="Klarna">
      </div>
      <div class="grid__item medium-up--one-third">
        
<h4>Zorgvuldig bezorgd</h4>
<img alt="postnl" src="https://www.tumblendry.com/on/demandware.static/-/Sites/default/dwb02fc415/TND/v2/delivery-postnl.svg" title="Postnl">
      </div>
      <div class="grid__item medium-up--one-third">
        <h4>Volg ons ook op</h4>
<a href="https://www.facebook.com/Tumblendry/" title="Facebook"><svg height="30px" version="1.1" viewBox="0 0 50 50" width="30px" xmlns="http://www.w3.org/2000/svg"> <circle cx="25" cy="25" fill="#FFFFFF" id="Oval-4" r="25"></circle> <g fill="#303030" fill-rule="nonzero" id="facebook-2" transform="translate(16.000000, 7.000000)"> <path d="M12.3325182,35.9998262 L12.3325182,19.5784899 L17.9343053,19.5784899 L18.7729745,13.178826 L12.3325182,13.178826 L12.3325182,9.09283189 C12.3325182,7.24001854 12.8554718,5.97722663 15.5559265,5.97722663 L19,5.97566205 L19,0.251897781 C18.4040802,0.174190184 16.359791,0 13.9814121,0 C9.01582623,0 5.61627442,2.98226807 5.61627442,8.45934983 L5.61627442,13.1789998 L0,13.1789998 L0,19.5786637 L5.61609775,19.5786637 L5.61609775,36 L12.3325182,35.9998262 Z" id="Shape"></path> </g> </svg> </a> 
<a href="https://www.instagram.com/tumblendry/" title="Instagram"> <svg height="30px" version="1.1" viewBox="0 0 209 209" width="30px" xmlns="http://www.w3.org/2000/svg"> <circle cx="104.167" cy="104.167" fill="#FFF" r="104.167"></circle> <path d="M104.167,50.436c17.5,0 19.576,0.066 26.491,0.383c17.762,0.808 26.059,9.236 26.867,26.867c0.317,6.91 0.377,8.986 0.377,26.486c0,17.506 -0.065,19.576 -0.377,26.486c-0.813,17.615 -9.088,26.059 -26.867,26.867c-6.915,0.317 -8.98,0.383 -26.491,0.383c-17.501,0 -19.577,-0.066 -26.486,-0.383c-17.806,-0.813 -26.06,-9.28 -26.868,-26.873c-0.317,-6.909 -0.382,-8.98 -0.382,-26.485c0,-17.501 0.071,-19.571 0.382,-26.486c0.814,-17.626 9.089,-26.06 26.868,-26.868c6.915,-0.311 8.985,-0.377 26.486,-0.377Zm0,-11.814c-17.801,0 -20.03,0.076 -27.021,0.393c-23.804,1.092 -37.033,14.3 -38.126,38.125c-0.322,6.997 -0.398,9.226 -0.398,27.027c0,17.8 0.076,20.034 0.393,27.026c1.092,23.804 14.3,37.033 38.125,38.125c6.997,0.317 9.226,0.393 27.027,0.393c17.8,0 20.034,-0.076 27.026,-0.393c23.782,-1.092 37.044,-14.3 38.12,-38.125c0.322,-6.992 0.398,-9.226 0.398,-27.026c0,-17.801 -0.076,-20.03 -0.393,-27.021c-1.07,-23.782 -14.294,-37.033 -38.12,-38.126c-6.997,-0.322 -9.231,-0.398 -27.031,-0.398Zm0,31.887c-18.588,0 -33.658,15.07 -33.658,33.658c0,18.587 15.07,33.662 33.658,33.662c18.587,0 33.657,-15.07 33.657,-33.662c0,-18.588 -15.07,-33.658 -33.657,-33.658Zm0,55.506c-12.066,0 -21.849,-9.777 -21.849,-21.848c0,-12.066 9.783,-21.849 21.849,-21.849c12.065,0 21.848,9.783 21.848,21.849c0,12.071 -9.783,21.848 -21.848,21.848Zm34.99,-64.698c-4.348,0 -7.871,3.523 -7.871,7.865c0,4.342 3.523,7.865 7.871,7.865c4.342,0 7.859,-3.523 7.859,-7.865c0,-4.342 -3.517,-7.865 -7.859,-7.865Z" fill="#4a4a4a"></path> </svg> </a> 
<a href="https://www.youtube.com/user/tumblendry" title="Youtube"> <svg height="30px" viewBox="0 0 24 24" width="30px" xmlns="http://www.w3.org/2000/svg"> <circle cx="12" cy="12" fill="#000" r="12"></circle> <path d="M10.918 13.933h.706v3.795h-.706v-.419c-.13.154-.266.272-.405.353-.381.218-.902.213-.902-.557v-3.172h.705v2.909c0 .153.037.256.188.256.138 0 .329-.176.415-.284v-2.881zm.642-4.181c.2 0 .311-.16.311-.377v-1.854c0-.223-.098-.38-.324-.38-.208 0-.309.161-.309.38v1.854c-.001.21.117.377.322.377zm-1.941 2.831h-2.439v.747h.823v4.398h.795v-4.398h.821v-.747zm4.721 2.253v2.105c0 .47-.176.834-.645.834-.259 0-.474-.094-.671-.34v.292h-.712v-5.145h.712v1.656c.16-.194.375-.354.628-.354.517.001.688.437.688.952zm-.727.043c0-.128-.024-.225-.075-.292-.086-.113-.244-.125-.367-.062l-.146.116v2.365l.167.134c.115.058.283.062.361-.039.04-.054.061-.141.061-.262v-1.96zm10.387-2.879c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-10.746-2.251c0 .394.12.712.519.712.224 0 .534-.117.855-.498v.44h.741v-3.986h-.741v3.025c-.09.113-.291.299-.436.299-.159 0-.197-.108-.197-.269v-3.055h-.741v3.332zm-2.779-2.294v1.954c0 .703.367 1.068 1.085 1.068.597 0 1.065-.399 1.065-1.068v-1.954c0-.624-.465-1.071-1.065-1.071-.652 0-1.085.432-1.085 1.071zm-2.761-2.455l.993 3.211v2.191h.835v-2.191l.971-3.211h-.848l-.535 2.16-.575-2.16h-.841zm10.119 10.208c-.013-2.605-.204-3.602-1.848-3.714-1.518-.104-6.455-.103-7.971 0-1.642.112-1.835 1.104-1.848 3.714.013 2.606.204 3.602 1.848 3.715 1.516.103 6.453.103 7.971 0 1.643-.113 1.835-1.104 1.848-3.715zm-.885-.255v.966h-1.35v.716c0 .285.024.531.308.531.298 0 .315-.2.315-.531v-.264h.727v.285c0 .731-.313 1.174-1.057 1.174-.676 0-1.019-.491-1.019-1.174v-1.704c0-.659.435-1.116 1.071-1.116.678.001 1.005.431 1.005 1.117zm-.726-.007c0-.256-.054-.445-.309-.445-.261 0-.314.184-.314.445v.385h.623v-.385z"></path> </svg> </a>
<div class="facebook-like">
<div class="fb-like fb_iframe_widget" data-action="like" data-href="https://www.facebook.com/Tumblendry/" data-layout="button_count" data-share="false" data-show-faces="true" data-size="large" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=5&amp;href=https%3A%2F%2Fwww.facebook.com%2FTumblendry%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=large"><span style="vertical-align: bottom; width: 90px; height: 28px;"><iframe name="f2b18330d51672c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v3.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df38ff2b7ca0878%26domain%3Dwww.tumblendry.com%26origin%3Dhttps%253A%252F%252Fwww.tumblendry.com%252Ffa63a536e5d7cc%26relation%3Dparent.parent&amp;container_width=5&amp;href=https%3A%2F%2Fwww.facebook.com%2FTumblendry%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=large" style="border: none; visibility: visible; width: 90px; height: 28px;" class=""></iframe></span></div>
</div>

      </div>
    </div>
</div>
</div>



<footer class="site-footer">
  <div class="page-width">

    <div class="grid">
      {%- assign row_width = 0 -%}
      {% for block in section.blocks %}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {% if row_width > 100 %}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {% endif %}

        <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}" data-type="{{ block.type }}">
          {% style %}
            @media only screen and (min-width: 769px) and (max-width: 959px) {
              .footer__item--{{ block.id }} {
                width: 50%;
                padding-top: 40px;
              }
              .footer__item--{{ block.id }}:nth-child(2n + 1) {
                clear: left;
              }
            }
            @media only screen and (min-width: 960px) {
              .footer__item--{{ block.id }} {
                width: {{ block.settings.container_width }}%;
              }

            }
          {% endstyle %}

          {% case block.type %}
          {% when 'logo_social' %}
            {% include 'footer-logo', block: block %}
          {% when 'custom' %}
            {% include 'footer-custom-text', block: block %}
          {% when 'newsletter' %}
            {% include 'footer-newsletter', block: block %}
          {% when 'menu' %}
            {% include 'footer-menu', block: block %}
          {% endcase %}
        </div>
      {% endfor %}
      {% for block in section.blocks %}
        {% if block.type == 'logo' %}
          <div class="grid__item medium-up--hide">
            {% include 'footer-logo', block: block %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if section.settings.show_payment_icons %}
      {% unless shop.enabled_payment_types == empty %}
        <ul class="inline-list payment-icons">
          {% for type in shop.enabled_payment_types %}
            <li class="icon--payment">
              {{ type | payment_type_svg_tag: class:'icon icon--full-color' }}
            </li>
          {% endfor %}
        </ul>
      {% endunless %}
    {% endif %}

    {% if section.settings.show_copyright %}
     <hr>
      <p class="footer__small-text">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
        {% if section.settings.copyright_text != blank %}
          {{ section.settings.copyright_text }}
        {% endif %}
      </p>
    <p style="text-align:center"><a style="color:#ffffff; text-align:center" href="/pages/algemene-voorwaarden">Algemene Voorwaarden</a> <span style="color:#ffffff">|</span> <a style="color:#ffffff; text-align:center" href="/pages/privacybeleid">Privacy Beleid</a></p>

    {% endif %}
   

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
